pkgbase = perl-mp3-tag
	pkgdesc = Module for reading tags of MP3 audio files
	pkgver = 1.15
	pkgrel = 3
	url = https://metacpan.org/release/MP3-Tag
	arch = any
	license = PerlArtistic
	license = GPL
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/I/IL/ILYAZ/modules/MP3-Tag-1.15.zip
	sha512sums = e0361e34583dc8d1742b40d2922e66de8d43180d99e52f8e34166c432619ca4611b8589c6acc0498384f9f0dd2e30189351c18e0bfe2a4ca96df60809683cbb3

pkgname = perl-mp3-tag
